<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="view-schedule-mtng">

    <template>

        <style is="custom-style" include="iron-flex iron-flex-alignment">
            :host {
                display: block;
                --app-primary-color: #4285f4;
                --app-primary-background-color: #f9f9f9;
                --app-secondary-color: black;
                --secondary-text-color: #cccccc;
            }

            #header {
                font-size: 1.1em;
            }

            #form {
                padding: 16px;
            }

            #cancelButton {
                background-color: #F44336;
                color: white;
            }

            #submitButton {
                background-color: #2196F3;
                color: white;
            }

            #checkboxContainer {
                padding: 8px 0;
            }

        </style>
        <iron-ajax
            auto
            url="../resources/employees.json"
            handle-as="json"
            last-response="{{employees}}"></iron-ajax>
        <iron-ajax
            auto
            url="../resources/rooms.json"
            handle-as="json"
            last-response="{{rooms}}"></iron-ajax>
        <iron-localstorage name="mtng-storage"
            value="{{meetings}}"
            on-iron-localstorage-load-empty="initializeDefault"></iron-localstorage>
        <div id="header">
            Meeting Information
        </div>
        <form id="meetingForm">
            <div id="form" class="vertical layout">
                <paper-input id="title" label="Title"></paper-input>
                <paper-textarea id="desc" label="Description (Optional)"></paper-textarea>
                <vaadin-date-picker id="date" label="Date"></vaadin-date-picker>
                <paper-dropdown-menu id="room" label="Room" selected-item="{{room}}">
                    <paper-listbox class="dropdown-content">
                        <template is="dom-repeat" items="[[rooms]]">
                            <paper-item value="[[item.building]] [[item.id]]">[[item.building]] [[item.id]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
                <div id="checkboxContainer" class="vertical layout">
                    <template is="dom-repeat" items="[[employees]]">
                        <paper-checkbox noink name="[[item.id]]" on-change="employeeCheck">[[item.firstName]] [[item.lastName]]</paper-checkbox>
                    </template>
                </div>
            </div>
            <div class="horizontal justified layout">
                <paper-button id="submitButton" on-tap="submit" raised>Submit</paper-button>
                <paper-button id="cancelButton" raised on-tap="returnToOptions">Cancel</paper-button>
            </div>
        </form>
        
    </template>

    <script>

        Polymer({
            is: 'view-schedule-mtng',
            properties: {
                cancelClick: {
                    type: Boolean,
                    value: false,
                    notify: true,
                    reflectToAttribute: true
                },
                employees: {
                    type: Array,
                },
                employeesChecked: {
                    type: Array,
                    value: []
                },
                room: {
                    value: ""
                },
                rooms : {
                    type: Array,
                }

            },

            observers: [
                'meetingsChange(meetings.*)'
            ],

            meetingsChange: function(meetings) {
                console.log(meetings);
                if(meetings.path == "meetings") {
                    this.scheduledMeetings = meetings;
                }
            },

            initializeDefault: function() {
                var temp = new Array();
                this.set("meetings", temp);
            },

            employeeCheck: function(e) {
                if(e.target.checked) {
                    console.log(e.target.name);
                    this.push("employeesChecked", e.target.name);
                }
                else {
                    var index = this.employeesChecked.indexOf(e.target.name);
                    this.employeesChecked.splice(index, 1);
                }
                console.log(this.employeesChecked);
            },

            submit: function() {
                console.log("SUBMIT");
                var newmtng = {
                    "title" : this.$.title.value,
                    "desc" : this.$.desc.value,
                    "date" : this.$.date.value,
                    "room" : this.room.value,
                    "employees" : this.employeesChecked
                };
                this.push("meetings", newmtng);
                console.log(this.meetings);
            },

            returnToOptions: function() {
                this.cancelClick = !this.cancelClick;
            },

            ready: function() {
                console.log(this.meetings);
            }
        });

    </script>

</dom-module>
